@charset "utf-8";
body {
  color: #333333;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  line-height: 1.8em;
  font-size: 1.4rem;
  background: url(../img/bg_mv.png) center top no-repeat;
}
a, button {
  color: #de8d00;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  opacity: 0.6;
}
div {
  box-sizing: border-box;
}
.font_ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.text_s {
  font-size: 90%;
}
.text_red {
  color: #d60d0d;
}
/*-- header --*/
header {
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  min-width: 1024px;
  height: 60px;
  z-index: 99;
  padding: 15px 15px 0;
  box-sizing: border-box;
}
header a {
  color: #cb372c;
}
.header_h1 {
  font-size: 2.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: #cb372c;
  float: left;
}
.header_h1 span {
  color: #7a8026;
}
.header_menu {
  float: right;
}
.header_menu ul {
  display: inline-block;
  margin: 2px 0 0 0;
}
.header_menu li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0 20px 0 0;
  border-right: 1px solid #ededed;
}
.header_menu li:last-child {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
  border-right: none;
}
.header_twitter_text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  float: right;
}
.header_twitter_text span {
  background: #cb372c;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  padding: 4px 0 0 0;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}
.header_twitter_text a {
  color: #333333;
}
/*-- h_box --*/
.h_box {
  width: 1024px;
  margin: 100px auto;
  text-align: center;
}
.page_titile {
  font-size: 3rem;
  padding: 55px 0 0;
  font-weight: bold;
}
/*-- mv_box --*/
.mv_box {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 0 0;
}
.logo_erlang {
  margin: 0 30px 35px 30px;
  width: 56px;
  height: auto;
}
.logo_elixir {
  margin: 0 0 35px 0;
  width: 113px;
  height: auto;
}
.mv_title01 {
  font-size: 7.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: #cb372c;
  animation: title01 0.5s ease-out alternate;
  display: inline-block;
  margin: 0 10px 0 0;
}
 @keyframes title01 {
 0% {
 transform: translatex(-100px);
 opacity: 0;
}
 100% {
 transform: translatex(0px);
 opacity: 1;
}
}
.mv_title02 {
  font-size: 7.2rem;
  font-family: 'Ubuntu', sans-serif;
  color: #7a8026;
  animation: title02 0.5s ease-out alternate;
  display: inline-block;
}
 @keyframes title02 {
 0% {
 transform: translatex(100px);
 opacity: 0;
}
 100% {
 transform: translatex(0px);
 opacity: 1;
}
}
.day_text {
  margin: 90px 0 0 0;
}
.day_blue_text {
  color: #cb372c;
  margin: 0 10px 0 0;
  position: relative;
  top: -5px;
}
.day_number_text {
  font-size: 3.2rem;
}
.place-text {
  font-size: 3.6rem;
  margin: 10px 0 0 0;
}
.map_link {
  background: #cb372c;
  color: #ffffff;
  border-radius: 3px;
  padding: 5px 20px;
  display: inline-block;
  font-size: 1.0rem;
  vertical-align: bottom;
  line-height: 1.0em;
}
.hash_text {
  border: 1px solid #cb372c;
  padding: 5px 40px;
  border-radius: 50px;
  display: inline-block;
  margin: 40px 0;
  font-size: 1.6rem;
  color: #cb372c;
  background-color: rgba(255,255,255,0.5);
}
/*---- main_box ----*/

.main_contents {
  width: 100%;
  background: url(../img/bg_pattern.png);
}
.main_box {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
  z-index: 2;
}
.main_box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  margin: 0 -15% 0;
  background: #e1e2d9;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: -1;
}
.main_box_inner {
  width: 1024px;
  position: relative;
  margin: 0px auto;
}
.page_box {
  width: 1024px;
  position: relative;
  margin: 0px auto;
  top: -40px;
}
.contents_box {
  width: 100%;
  margin: 0 0 50px;
  background: url(../img/bg_box.gif) top center no-repeat #ffffff;
  padding: 60px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.effect {
  transition: 0.6s;
  opacity: 0;
  position: relative;
  top: 80px;
  display: block;
}
.contents_h2 {
  font-size: 3.0rem;
  color: #cb372c;
  border-bottom: 1px solid #ededed;
  text-align: center;
  padding: 0 0 30px;
  margin: 20px 0 30px;
}
.contents_h3 {
  font-size: 2.2rem;
  color: #cb372c;
  border-bottom: 1px solid #ededed;
  padding: 0 0 20px;
  margin: 50px 0 30px;
}
.contents_h4 {
  font-size: 1.6rem;
  color: #cb372c;
  padding: 0;
  margin: 20px 0;
}
.read_text {
  text-align: center;
  margin: 0 80px;
  font-size: 1.6rem;
}
.read_box dl dt {
  font-weight: bold;
}
.read_box ul li {
  line-height: 2.5;
  list-style: disc;
  margin-left: 20px;
}
.twitter_text {
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  margin: 60px 0 0 0;
}
.twitter_text span {
  background: #333333;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  padding: 4px 0 0 0;
  margin: 0 5px 0 0;
  box-sizing: border-box;
}
.twitter_text a {
  color: #333333;
}
.btn_apply {
  border: 4px solid #ffffff;
  background: #cb372c;
  width: 650px;
  padding: 35px 0;
  color: #ffffff;
  margin: 0 auto;
  font-size: 2.4rem;
  line-height: 1.0em;
  cursor: pointer;
  display: block;
  text-align: center;
}
.btn_apply:hover {
  background: #ef837b;
  opacity: 1;
}
.btn_apply span {
  font-size: 1.2rem;
}
.btn_apply .icon-play3 {
  font-size: 1.4rem;
  vertical-align: baseline;
  margin: 0 5px 0 0;
}
.btn_noc {
  background: #006400;
}
.btn_noc:hover {
  background: #3cb371;
  opacity: 1;
}
.sponsor_wanted {
  width: 600px;
  margin: 0 auto;
}
/*---- footer ----*/
footer {
  background: url(../img/bg_pattern.png);
  padding: 30px 0;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}
footer p {
  margin: 0;
  padding: 0;
}
.pagetop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 77%;
  z-index: 3;
}
.pagetop a {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  font-size: 2rem;
  color: #ffffff;
  width: 40px;
  height: 40px;
  padding: 8px 0 0;
  box-sizing: border-box;
}
.pagetop a:hover {
  opacity: 0.7;
}
.pagetop .icon-play3 {
  display: block;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
/*------ login.html ------*/
.login_contents .main_box {
  padding-top: 80px;
}
.login_text {
  margin: 100px 0 0 0;
  text-align: center;
}
.btn_login_box {
  width: 660px;
  margin: 40px auto 340px;
}
.btn_login_box a {
  color: #ffffff;
  font-size: 2.4rem;
  display: block;
  width: 320px;
  height: 60px;
  text-align: center;
  position: relative;
  padding: 12px 0 0 0;
  box-sizing: border-box;
}
.btn_login_git a {
  background: #484848;
  float: left;
}
.btn_login_git img {
  width: 33px;
  height: auto;
  margin: 0 10px 0 0;
  vertical-align: bottom;
}
.btn_login_tw a {
  background: #00acee;
  float: right;
}
.btn_login_tw .icon-twitter {
  font-size: 3.2rem;
  margin: 0 10px 0 0;
  vertical-align: bottom;
}
.btn_login_box .icon-play3 {
  position: absolute;
  top: 23px;
  right: 10px;
  font-size: 1.4rem;
}
/*------ form.html ------*/
.form_head {
  border-bottom: 1px solid #ededed;
  margin: 0 0 40px;
  padding: 50px 0 30px;
  text-align: center;
}
.ico_user {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center;
  display: inline-block;
}
.ico_user img {
  width: 100%;
  height: auto;
}
.name_user {
  display: inline-block;
  margin: -1em 0 0 15px;
  text-align: left;
}
.name_user span {
  font-weight: bold;
}
.form_box {
  width: 520px;
  margin: 0 auto;
}
.form_guideline {
  background: #7a8026;
  color: #ffffff;
  padding: 30px;
  margin: 0 0 40px;
}
.form_guideline h3 {
  border-bottom: 1px solid #6da5b4;
  text-align: center;
  margin: 0 0 15px;
  padding: 0 0 15px;
  font-size: 1.6rem;
}
.form_guideline ul li, .list_disc li {
  margin: 0 0 10px 20px;
  list-style: disc;
  line-height: 1.6em;
}
.list_disc li ul li{
  margin: 0 0 10px 20px;
  list-style: none;
  line-height: 1.6em;
}
.list_disc_parent {
  list-style: none !important;
}
.form_h {
  font-weight: bold;
  font-size: 1.6rem;
  background: url(../img/ico_blue.png) left center no-repeat #ffffff;
  padding: 0 0 0 20px;
  margin: 0 0 5px;
}
.form_h span {
  color: #e70000;
  font-weight: normal;
  font-size: 1.4rem;
  margin: 0 0 0 10px;
}
.form_box input, .form_box textarea {
  border: 1px solid #d9d9d9;
  background: #fbfbfb;
  margin: 0 0 30px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.8em;
  border-radius: 0px;
}
.form_box input:focus, .form_box textarea:focus {
  background: #fffdea;
}
.btn_submit {
  display: block;
  margin: 15px auto 0;
  background: #cb372c;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 2.4rem;
  width: 320px;
  height: 60px;
  text-align: center;
  position: relative;
  padding: 3px 0 0 0;
  box-sizing: border-box;
}
.btn_submit .icon-play3 {
  position: absolute;
  top: 23px;
  right: 10px;
  font-size: 1.4rem;
}
.btn_submit:hover {
  background: #ef837b;
}

/*===============================================
 PC版のみ
===============================================*/
@media screen and (min-width: 1920px) {
  body {
    background-size: 100% auto;
  }
}
@media screen and (min-width: 768px) {
.pc {
  display: block;
}
.sp {
  display: none;
}
.main_contents,
footer {
  min-width: 1024px;
}
.top_list {
  margin: 0 0 0 200px;
}
}

/*===============================================
スマホ版のみ
===============================================*/
@media screen and (max-width: 767px) {
.pc {
  display: none;
}
.sp {
  display: block;
}
body {
  background-image: url(../img/bg_mv_sp.png);
}
/*-- header --*/
header {
  min-width: 100%;
  padding: 10px;
}
.header_h1 {
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}
.header_menu {
  float: right;
}
.header_menu ul {
  display: none;
}
.header_twitter_text span {
  width: 40px;
  height: 40px;
  padding: 8px 0 0 0;
  margin: 0 0 0 0;
}
.main_box:before {
  width: 140%;
}
/*-- mv_box --*/
.mv_box {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0 0 0;
}
.logo_erlang {
  margin: 0 30px 25px 30px;
  width: 45px;
  height: auto;
}
.logo_elixir {
  margin: 0 0 25px 0;
  width: 100px;
  height: auto;
}
.mv_title01, .mv_title02 {
  font-size: 4.4rem;
  margin: 0 0 25px;
}
.day_text {
  margin: 40px 0 0 0;
}
.day_number_text {
  font-size: 2.8rem;
}
.place-text {
  font-size: 2.4rem;
  line-height: 1.2em;
}
.map_link {
  padding: 5px 40px;
  font-size: 1.6rem;
}
.hash_text {
  padding: 6px 60px;
  margin: 30px 0;
  font-size: 2.0rem;
}
/*-- h_box --*/
.h_box {
  width: 100%;
  margin: 80px auto;
  text-align: center;
}
.page_titile {
  font-size: 2.2rem;
  font-weight: bold;
}
/*---- main_box ----*/
.main_box {
  width: 100%;
  padding: 0 20px 40px;
  box-sizing: border-box;
}
.main_box_inner {
  width: 100%;
  top: 20px;
}
.login_contents .main_box {
  padding-top: 60px;
}
.page_box {
  width: 100%;
}
.contents_box {
  width: 100%;
  margin: 0 0 20px;
  background: url(../img/bg_box.gif) top center no-repeat #ffffff;
  padding: 25px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.read_text {
  text-align: left;
  margin: 0px;
}
.btn_apply {
  width: 100%;
  padding: 20px 0;
  font-size: 2.2rem;
}
.contents_h2 {
  font-size: 2.0rem;
  padding: 0 0 20px;
  margin: 20px 0 20px;
}
.twitter_text {
  margin: 40px 0 0 0;
}
.twitter_text span {
  width: 22px;
  height: 22px;
  padding: 0;
  font-size: 13px;
}
/*---- footer ----*/
.pagetop {
  bottom: 10px;
  right: 10px;
}
footer {
  padding: 10px 0;
}
/*------ login.html ------*/
.login_text {
  margin: 40px 0 0 0;
  text-align: center;
}
.btn_login_box {
  width: 100%;
  margin: 20px auto 100px;
}
.btn_login_box a {
  width: 100%;
  font-size: 2.0rem;
}
.btn_login_git a {
  background: #484848;
  float: none;
  margin: 0 0 20px;
}
.btn_login_tw a {
  background: #00acee;
  float: none;
}
.btn_login_tw .icon-twitter {
  font-size: 3.2rem;
  margin: 0 10px 0 0;
  vertical-align: bottom;
}
.btn_login_box .icon-play3 {
  position: absolute;
  top: 23px;
  right: 10px;
  font-size: 1.4rem;
}
/*------ form.html ------*/
.form_head {
  padding: 10px 0 20px;
  margin: 0 0 30px;
}
.ico_user {
  width: 50px;
  height: 50px;
}
.name_user {
  margin: -1em 0 0 5px;
  font-size: 1.6rem;
}
.form_box {
  width: 100%;
  margin: 0 auto;
}
.form_h {
  font-size: 1.4rem;
}
.form_guideline {
  padding: 20px;
  margin: 0 0 30px;
}
.form_guideline h3 {
  margin: 10px 0 10px;
  padding: 0 0 10px;
  font-size: 1.6rem;
}
.form_box input, .form_box textarea {
  margin: 0 0 20px;
  font-size: 16px;
}
.btn_submit {
  margin: 0px auto 0;
  width: 100%;
  font-size: 2.0rem;
}
.sponsor_wanted {
  width: 100%;
}
}
