	<header class="clearfix">
    <h1 class="header_h1"><a href="{% url 'index' %}">Erlang & Elixir <span>Fest 2018</span></a></h1>
		<div class="header_menu">
    {% comment %}
			<ul>
        <li><a href="{% url 'index' %}#01">スピーカーの紹介</a></li>
				<li><a href="{% url 'index' %}#02">会場案内・MAP</a></li>
				<li><a href="{% url 'index' %}#03">プログラム</a></li>
				<li><a href="{% url 'index' %}#03">スポンサー</a></li>
			</ul>
    {% endcomment %}
			<p class="header_twitter_text"><a href="https://twitter.com/elixirfest" target="_blank"><span><i class="icon-twitter"></i></span></a></p>
		</div>
	</header>
