{% extends "base.html" %}
{% load static %}

{% block contents %}
<div class="mv_box">
    <p><img class="logo_erlang" src="{% static 'img/logo_Erlang.png' %}" alt="Erlang"><img class="logo_elixir" src="{% static 'img/logo_elixir.png' %}" alt="elixir"></p>
    <h1 class="mv_title01">Erlang &amp; Elixir</h1>
    <h1 class="mv_title02">Fest 2019</h1>
    <p class="day_text"><span class="day_blue_text">開催日</span><span class="day_number_text">2019</span>年 <span class="day_number_text">6</span>月<span class="day_number_text">1</span>日(土)</p>
    <p class="place-text">永田町 JA共済ビル<a class="map_link" href="https://goo.gl/maps/m5ddhWNNbXD2" target="_blank">MAP</a></p>
    <p class="hash_text">#elixirfest</p>
</div>
<section class="main_contents">
  <section class="main_box">
    <div class="main_box_inner clearfix">
      <div class="contents_box effect">
        {% if status_public %}
        <div class="read_box">
          <dl class="mb40">
            <dt>日程</dt>
            <dd>2019年6月1日(土)</dd>
            <dd>開場: 10:00 開演: 10:30</dd>
            <dd>閉会: 19:30</dd>
          </dl>
          <dl>
            <dt>会費(昼食、懇親会費込み)</dt>
            <dd>一般: 6,000円 学生: 3,000円</dd>
          </dl>
        </div>
      </div>
      {% if connpass_url %}
      <p class="mb40"><a class="btn_apply" href="{{ connpass_url }}" target="_blank"><i class="icon-play3"></i>Erlang &amp; Elixir Fest 2019 に応募する</a></p>
      {% endif %}
      <div class="contents_box effect">
        <h2 class="contents_h2">講演者<br>
          <span class="contents_h2_s">KEYNOTE SPEAKER</span></h2>
        <div class="center mb40">
          <!--speaker_box-->
          {% for session in keynote_sessions %}
          <div class="speaker_box">
            <div class="speaker_photo"><img src="{{ session.speaker_icon.url }}" alt=""></div>
            <p class="speaker_name">{{ session.speaker }}{% if session.twitter_link %}<a href="{{ session.twitter_link }}" target="_blank"><i class="icon-twitter"></i></a>{% endif %}</p>
            <p class="speaker_read">{{ session.content|linebreaksbr }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% if news_list %}
      <div class="contents_box effect  mt70">
        <h2 class="contents_h2">お知らせ<br>
          <span class="contents_h2_s">Information</span></h2>
        <div class="news_box">
          {% for news in news_list %}
          <dl>
            <dt>{{ news.title }}</dt>
            <dd>{{ news.content|linebreaksbr }}</dd>
          </dl>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <div class="contents_box effect mt70">
        <h2 class="contents_h2">セッション一覧<br>
          <span class="contents_h2_s">Sessions</span></h2>
        {% for session in sessions %}
        <div class="session_box clearfix">
          <div class="session_photo">
            <div><img src="{{ session.speaker_icon.url }}" alt=""></div>
            {% if session.speaker_icon2 %}
            <div><img src="{{ session.speaker_icon2.url }}" alt=""></div>
            {% endif %}
          </div>
          <div class="session_txt">
            <h3>{{ session.title }}{% if session.is_short_session %}<span class="short">short session</span>{% endif %}</h3>
            <p class="session_name">{{ session.speaker }}{% if session.twitter_link %}<a href="{{ session.twitter_link }}" target="_blank"><i class="icon-twitter"></i></a>{% endif %}</p>
            <p>{{ session.content|linebreaksbr }}</p>
          </div>
        </div>
        {% endfor %}
        <div class="info_box">
          <p>ハンズオン : 昼食休憩中メインホールにて</p>
        </div>
      </div>
      {% if connpass_url %}
      <p class="mb40"><a class="btn_apply" href="{{ connpass_url }}" target="_blank"><i class="icon-play3"></i>Erlang &amp; Elixir Fest 2019 に応募する</a></p>
      {% endif %}
      <div class="contents_box effect">
        <h2 class="contents_h2">ライトニングトークについて<br>
          <span class="contents_h2_s">Lightning Talk</span></h2>
        <div class="lightningtalk_box">
          <ul class="clearfix">
            {% for session in lt_sessions %}
            <li>{{ session.title }}<br>
              {% if session.twitter_link %}
              <a href="{{ session.twitter_link }}" target="_blank"><i class="icon-twitter"></i>{{ session.speaker }}</a><a href="{{ session.twitter_link }}" target="_blank"></a>
              {% else %}
              {{ session.speaker }}
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          <a class="btn_apply btn_lt" href="https://connpass.com/event/129572/" target="_blank"><i class="icon-play3"></i>ライトニングトークに応募する<br><span>Lightning Talk</span></a>
        </div>
      </div>
      <div class="contents_box effect mt70">
        <h2 class="contents_h2 mb0">地図<br>
          <span class="contents_h2_s">Map</span></h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8655249158437!2d139.73806165119217!3d35.680313037531825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1d381e78356b6e8f!2z77yq77yh5YWx5riI44OT44Or!5e0!3m2!1sja!2sjp!4v1556258010152!5m2!1sja!2sjp" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contents_box effect">
        <h2 class="contents_h2">スポンサーについて<br>
          <span class="contents_h2_s">Sponsors</span></h2>
        <div class="sponsors_box">
          <h3 class="sponsors_text">GOLD SPONSORS</h3>
          <div class="sponsors_gold mb100">
            <p><a href="https://www.access-company.com/" target="_blank"><img src="{% static 'img/logo_access.png' %}" alt="access"></a></p>
            <p><a href="https://aktsk.jp/" target="_blank"><img src="{% static 'img/logo_akatsuki.png' %}" alt="akatsuki"></a></p>
            <p><a href="https://www.drecom.co.jp/" target="_blank"><img src="{% static 'img/logo_drecom.png' %}" alt="dricom"></a></p>
            <p class="mt50"><a href="https://gu3.co.jp/" target="_blank"><img src="{% static 'img/logo_gumi.png' %}" alt="gumi"></a></p>
            <p><a href="https://xflag.com/" target="_blank"><img src="{% static 'img/logo_mixi.png' %}" alt="mixi"></a></p>
          </div>
          <h3 class="sponsors_text">SILVER SPONSORS</h3>
          <div class="sponsors_silver clearfix mb100">
            <p><a href="https://dwango.co.jp/" target="_blank"><img src="{% static 'img/logo_dwango.png' %}" alt="dwango"></a></p>
          </div>
          <h3 class="sponsors_text">Powered by </h3>
          <div class="sponsors_powered clearfix">
            <p><a href="https://conbu.net/" target="_blank"><img src="{% static 'img/logo_conbu.png' %}" alt=""></a></p>
            <p><a href="https://www.bbtower.co.jp/" target="_blank"><img src="{% static 'img/logo_bbtower.png' %}" alt=""></a></p>
            <p><a href="https://grid.tokyo.jp/" target="_blank"><img src="{% static 'img/logo_grid.png' %}" alt=""></a></p>
          </div>
          <p class="center mt70 text_l">スポンサーについてご興味を持たれた企業様はメール(<a href="mailto:elixirfestjp@gmail.com">elixirfestjp@gmail.com</a>)にてお問い合わせお願いします。</p>
        </div>
      </div>
      {% endif %}
        {% if status_accepting or status_end_accepting %}
        <h2 class="contents_h2">Erlang &amp; Elixir Fest 2019 スポンサーの募集</h2>
        <p class="read_text">
          Erlang &amp; Elixir Fest では今年もスポンサーを募集します。
          <br>メール(elixirfestjp@gmail.com)にお問い合わせをお願いします。
          <br>
          <br>基本的なスポンサーメニューは以下の2つになります。
        </p>
        <div class="sponsor_wanted">
          <h3 class="contents_h3">ゴールドスポンサー（企業数に上限あり。先着順。）</h3>
          <h4 class="contents_h4">ゴールドスポンサー金額</h4>
          <p class="mt20">500,000円（税別）</p>
          <h4 class="contents_h4">ゴールドスポンサー特典</h4>
          <ul class="mt20 list_disc">
            <li>Web ページ、会場へのロゴの掲載</li>
            <li>企業ブースの設置</li>
            <li>スポンサーチケット5枚（5人分の入場券）</li>
            <li>各席へのチラシの配置</li>
            <li class="list_disc_parent">
              <ul>
                <li>チラシ自体は各企業でご準備をお願い致します。</li>
              </ul>
            </li>
            <li>会場内パネルボードへのポスターの設置</li>
            <li class="list_disc_parent">
              <ul>
                <li>会場内に置くパネルボードにポスターを設置させていただきます。</li>
              </ul>
            </li>
          </ul>
          <h3 class="contents_h3">シルバースポンサー</h3>
          <h4 class="contents_h4">シルバースポンサー金額</h4>
          <p class="mt20">150,000円（税別）</p>
          <h4 class="contents_h4">シルバースポンサー特典</h4>
          <ul class="mt20 list_disc">
            <li>Web ページ、会場へのロゴの掲載</li>
            <li>スポンサーチケット3枚（3人分の入場券）</li>
          </ul>
          <h3 class="contents_h3">その他スポンサー</h3>
          <p>その他の形でのスポンサー提案についてはお問い合わせ下さい。</p>
        </div>
        <p class="twitter_text"><a href="https://twitter.com/elixirfest" target="_blank"><span><i class="icon-twitter"></i></span>最新情報はTwitterをフォロー<br class="sp">してください</a></p>
      </div>
      <p>
        <a class="btn_apply btn_noc" href="{% url 'noc' %}"><i class="icon-play3"></i>NOC(Network Operation Center)メンバ募集<br><span>Call for NOC Members</span></a>
      </p>
      <p class="mt30">
      {% if status_end_accepting %}
      <a class="btn_apply" href="javascript:void(0)"><i class="icon-play3"></i>スピーカー応募は終了いたしました<br><span>Call for Speakers</span></a>
      {% else %}
      <a class="btn_apply" href="{% url 'entry' %}"><i class="icon-play3"></i>スピーカーに応募する<br><span>Call for Speakers</span></a>
      {% endif %}
      </p>
      {% endif %}
    </div>
  </section>
</section>
{% endblock contents %} 
